@import "../index.css";

/* GRID */

  .row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-left: 3em solid var(--border-color);
    border-right: 3em solid var(--border-color);
  }
  
  .row-middle {
    align-items: center;
  }
  
  .col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  
  .col-start {
    justify-content: flex-start;
    text-align: left;
  }
  
  .col-center {
    justify-content: center;
    text-align: center;
  }
  
  .col-end {
    justify-content: flex-end;
    text-align: right;
  }
  
  

/* Calendar */

.calendar {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.calendar .header {
  text-transform: uppercase;
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2.75em;
  padding: .05em 0;
  color: var(--text-blue);
  user-select: none;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
  margin-left: 1em;
  margin-right: 1em;
  user-select: none;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .1s ease-out;
  color: var(--lighter-blue);
}

.calendar .days {
  font-weight: 800;
  font-size: 1.2em;
  color: black;
  padding: .5em 0;
  user-select: none;
}

.calendar .body .cell {
  position: relative;
  height: 6em;
  line-height: 5em;
  text-align: center;
  border-right: 2em solid var(--border-color);
  border-left: 3em solid var(--border-color);
  border-top: .5em solid var(--border-color);
  border-bottom: .5em solid var(--border-color);
  cursor: pointer;
  background-color: #fcfcfc;
  transition: 0.1s ease-out;
  border-radius: 50%;
}

.calendar .body .cell:hover {
  background-color: #d6c5c5;
  transition: 0.1s ease-out;
}

.calendar .body .today {
  color: #f3bc26;
  font-weight: 800;
}

.calendar .body .row {
  border-bottom: .05em solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: 1.5em solid var(--border-color);
}

.calendar .body .cell .dayNum {
  font-size: 1.5em;
  user-select: none;
}

.calendar .body .notInMonth {
  pointer-events: none;
  opacity: 0.5;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}