@import "../index.css";

/* EVENTS */

    .eventBox {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        border-left: 20px;
        border-right: 20px;
        margin-left: 12em;
        margin-bottom: 2em;
        gap: 20px;
    }
    .col {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
      }
      
    .col-start {
        justify-content: flex-start;
        text-align: left;
      }
      
    .col-center {
        justify-content: center;
        text-align: center;
      }
      
    .col-end {
        justify-content: flex-end;
        text-align: right;
      }
    
    .buttons {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        flex-basis: 100%;
        flex: 0 1 auto;
    }

    .container {
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 10px;
      }

    .goToDay {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        gap: 10px;
    }

    #weekdayBanner {
        font-size: 25px;
        border-bottom: 0.25em solid var(--border-color);
    }

    #eventsTitle {
        font-size: 30px;
        justify-content: center;
    }

    #growIcons {
        font-size: 50px;
        line-height: 1;
        font-weight: 10;
    }

    #makeDateSmall {
        font-size: 30px;
    }

    .footer {
        margin: 15px
    }

/* MISC */
