img {
    width: 500px;
}

.wording .egg-logo {
    opacity: 0.5;
    margin-bottom: 1.5cm;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wording .logout {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #096a91;
    font-size: 2em;
}

.inlinehatch{
    font-size: 1em;
    color: #1681AB;
    margin: 0px;
    font-weight: 500;
}

p {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 300;
}

.wording {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wording .hatch {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1681AB;
    font-size: 20em;
    font-weight: 800;
}

.home-link {
    color: #096a91;
    font-size: 40px;
    position: relative;
    display: inline-block;
    font-weight: 800px;
}

.home-text {
    font-size: 2em;
    font-weight: 300;
    display: inline-block;
}